* {
  margin: 0;
}
.footer {
  width: 100vw;
  height: 100vh;
}
.footer1 img {
  width: 100%;
}
.footer2 {
  width: 100vw;
  height: 500px;
  /* border: 2px solid red; */
  background-color: #032c48;
  display: flex;
  color: white;
}
.footer2 div {
  width: 80%;
  height: 100%;

  /* border: 1px solid red; */
}
.box4 img {
  height: 50%;
}
li:hover {
  text-decoration: underline;
}
.smedia {
  display: flex;
  justify-content: space-between;
}

.smedia img {
  width: 70px;
  height: 50px;
  margin-left: 10px;
}
.footer img {
  width: 100%;
}

.smedia div {
  width: 60px;
  height: 60px;
}
.smedia img {
  width: 100%;
}
