.font-image{background-image: url("https://m.media-amazon.com/images/G/01/2022/womens/WOMENS-DRESSES-SKIRTS-MAY-HERO-1440x700.jpg");
    width: 100%;height: 700px;
    background-repeat: no-repeat;
}
.font-div{width: 340px;margin-left: 4%;
margin-bottom: 10%;padding: 1%;
background-color:white;
/*font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 24px;
    line-height: normal;
    font-family: "Open Sans", sans-serif;*/
}
.blank-div{height: 30%;}
.font-button{border: 2px solid;width: 60%;
    margin: auto;border-radius: 6px;
    /*font-size: large;*/
}
.font-button:hover{background-color: black;color: white;}
/*.Dresses{font-family: "Open Sans", sans-serif;}*/
.container{margin-left: 2.5%;}
.shop{margin-right: 85%;}
.middle_div{display: flex;margin-left:5% ;gap: 2%;}
.middle_img1{width: 44%;background-color: yellow;}
.middle_img1>img{width: 100%;height: 100%;}
.middle_img2{margin-top: 20%;}
.middle_img2p>p{font-size: large}
.middle_img2p{width: 80%;margin: auto;margin-top: 10%;}
.middle_button{border: 2px solid;width: 60%;
    margin: auto;border-radius: 6px;height: 40px;
margin-top: 12%;
}
.middle_button>p{margin-top: 5px;font-size: large;}
.middle_button:hover{background-color: black;color: aliceblue;}
.get{display: flex;margin-top: 3%;}
.get_box1{width: 30%;height: 200px;margin-top: 10%;}
.get_box2{width: 70%;height: auto;}
.get_box1>div>p{font-size: large;}
.shop_button{width: 60%;margin: auto;}
.shop_buttonp{margin-top: 3%;font-size: 17px;}
.bottom_image{display: flex;gap: 2%;margin-left: 2.5%;margin-top: 3%;height: 580px;}
.bottom_image>div{width: 30%;}
.bottom_image>div>img{width: 100%;height: 80%;}
.shop_dress{display: flex;width: 95%;gap: 2%;height: 200px;
    margin-bottom: 170px;margin-left: 3%;}
    .shop_dress_imagebox{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;height: 250px;width: 200px;}
    .shop_dress_imagebox>div{width: 95%;height: 100%;} 
    .shop_dress_imagebox>div>img{width: 100%;margin-top: 20%;height: 50%;object-fit: contain;} 


 .fassion_div{display:flex;gap: 1%;width: 95%;margin: 2%;}   
 .fassion_div>div>div>img{width: 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px} 
 .popular{margin-right: 92%;width: 10%;margin-top: 4%;}  
 .popular_text{text-align: left;}
 .dansko{display: flex;margin-top: 4%;height: 500px;margin-bottom: 15%;margin-left: 4%;}
 .dansko_image{margin-top: 4%;height: 550px;margin-left: 2%;}
 .dansko_image>img{width: 100%; height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}
 .dansko_button{width: 50%;margin-top: 4%;}
 /*.dansko_button>Button{margin-top: 40%;}*/
 .populer_product{display: grid;grid-template-columns: repeat(4,1fr);grid-gap: 3%;
margin-left: 8%;margin-bottom: 4%;
}
.dansko>div{width: 32%;}
.trending{margin-left: 2%;width: 200px;}
.dansko_text{font-size: large;font-weight: bold;margin-left: -15%;}
.shop_button{margin-top: 5px;}
/*.shop_dress>div>div{border: 1px solid;}*/

/*.shop_dress_box{height: 250px;width: 200px;}*/
/*.shop_dress_imagebox>img{width: 100%;height: 0%;}*/